.container {
	max-width: 1440px;
	padding: 0 64px;
	margin: 0 auto;
}

.grid--12col{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-auto-rows: auto;
	gap: 24px;
}

@media (max-width: 1200px){
	.container {
		padding: 0 32px;
	}
}
