:root {
	--white-color: #fff;
	--black-color: #000;
	--color-darkviolet: #2c0340;
	--color-blue: #5877eb;
	--color-blueviolet: #774ae1;
	--color-lightblue: #b3aaeb;
	--color-lightblue2: #f0eefb;
	--color-red: #e9576e;
	--color-coral: #e9788a;
	--color-lightcoral: #f4bdc3;
	--color-lightcoral2: #fcecef;
}
