/* btn default */
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-red);
	color: var(--white-color);
	border-radius: 50px;
	transition: color 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
	font-weight: 300;
	font-size: 1rem;
	cursor: pointer;
	white-space: nowrap;
}

.btn:hover{
	background-color: var(--color-blueviolet);
	color: var(--white-color);
}

/* btn sizes */
.btn--small{
	line-height: 1.5em;
	padding: 0.5rem 1em;
}

.btn--middle{
	font-size: 1.37rem;
	line-height: 1.36em;
	padding: 0.5rem 1.09em;
}

.btn--large{
	font-size: 1.5rem;
	line-height: 1.33em;
	padding: 1rem 2rem;
}

/* btn outlines */
.btn--outline{
	background-color: var(--white-color);
	color: var(--color-red);
	border: 1px solid var(--color-red);
}

.btn--outline:hover{
	border-color: var(--color-blueviolet);
}

/*btn icon*/
.btn__icon{
	width: 24px;
	height: 24px;
	margin-right: 8px;
	fill: var(--white-color);
}

.btn--outline .btn__icon{
	fill: var(--color-red);
}

