.dropdown{
	padding: 16px 24px;
	background-color: var(--white-color);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.dropdown__head{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.dropdown__btn{
	width: 40px;
	height: 40px;
	fill: var(--color-blueviolet);
	margin-right: 16px;
}

.dropdown__heading{
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
}

.dropdown__content{
	display: none;
	margin-left: 52px;
	margin-top: 16px;
}

.dropdown--open .dropdown__content{
	display: block;
}

.dropdown__btn svg{
	position: relative;
}

.dropdown__btn use{
	position: absolute;
	transform-origin: center;
	transform: rotate(0deg);
	transition: transform 0.3s ease-in-out;
}

.dropdown--open .dropdown__btn use{
	transform: rotate(45deg);
}
