.faq__head{
	margin-top: 80px;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-start: 1;
}

.faq__dropdowns{
	margin-top: 32px;
	margin-bottom: 80px;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-start: 2;
}

.faq__dropdown:not(:last-child){
	margin-bottom: 1px;
}
