.footer{
	height: 133px;
	background-color: var(--color-lightblue2);
}

.footer__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.footer__copyright{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.footer__contacts{
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
}

.footer__contacts a{
	margin-left: 16px;
}
