.futured{
	background-color: var(--color-lightcoral2);
}

.futured__head{
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 1;
	margin-top: 80px;
}

.futured__cards{
	position: relative;
	display: flex;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-end: 2;
	margin-top: 64px;
	margin-bottom: 80px;
}

.futured__card:not(:last-child){
	margin-right: 24px;
}

.futured__card{
	position: relative;
	z-index: 2;
	padding: 33px 24px 24px 24px;
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.futured__icon{
	width: 40px;
	height: 40px;
	fill: var(--color-blueviolet);
}

.futured__text{
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	margin-top: 16px;
}

.futured__label{
	position: absolute;
	top: -16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 16px;
	background-color: var(--white-color);
	border-radius: 10px;
	border: 1px solid var(--color-blueviolet);
}

.futured__line{
	height: 4px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 123px;
	z-index: 1;
	background-color: rgba(44, 3, 64, 0.3);
}
