.header{
	border-bottom: 1px solid rgba(179, 170, 235, 0.5);;
	background-color: var(--white-color);
}

.header__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 90px;
}

.header__menu{
	display: flex;
}

.menu__list{
	display: flex;
	align-items: center;
}

.menu__item{
	margin-right: 32px;
}

.menu__item{
	font-weight: 300;
}

.header__contacts-us{
	display: flex;
	align-items: center;
}

.contacts-us{
	margin-right: 8px;
}
