:root{
	--hero-margin-bot: 225px;
	--hero-margin-top: 209px;
}

.hero__col--left{
	margin-top: var(--hero-margin-top);
	margin-bottom: var(--hero-margin-bot);
	grid-column-start: 1;
	grid-column-end: 8;
}

.hero__col--right{
	position: relative;
	margin-top: var(--hero-margin-top);
	margin-bottom: var(--hero-margin-bot);
	grid-column-start: 8;
	grid-column-end: 13;
}

h1{
	font-weight: 300;
	font-size: 64px;
	line-height: 64px;
}

.hero__description{
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	margin-top: 24px;
}

.hero__btn{
	margin-top: 64px;
	display: flex;
}

.hero__btn .btn:not(:last-child){
	margin-right: 32px;
}

.hero__col--right img{
	position: absolute;
	max-width: 1028px;
	bottom: -218px;
	left: -133px;
	z-index: -1;
}
