.how-works{
	background: var(--color-lightblue2);
}

.how-works__head{
	margin-top: 80px;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 1;
}

h2{
	font-weight: 300;
	font-size: 48px;
	line-height: 56px;
}

.how-works__cards{
	margin-top: 80px;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-end: 2;
}

.how-works__card:not(:last-child){
	margin-bottom: 120px;
}

.how-works__card:last-child{
	margin-bottom: 80px;
}

.card__col{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card__col--text{
	grid-column-start: 1;
	grid-column-end: 6;
}

.how-works__card:nth-child(2n) .card__col--text{
	grid-column-start: 8;
	grid-column-end: 13;
}

.card__logo{
	width: 120px;
	height: 120px;
}

.card__heading{
	margin-top: 24px;
}

h3{
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
}

.card__text{
	margin-top: 16px;
}

p{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

p:not(:last-child){
	margin-bottom: 4px;
}

.card__col--img{
	grid-column-start: 6;
	grid-column-end: 13;
}

.how-works__card:nth-child(2n) .card__col--img{
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 1;
}



