:root{
	--order-margin-bot: 245px;
	--order-margin-top: 245px;
}

.order__col--left{
	margin-top: var(--order-margin-top);
	margin-bottom: var(--order-margin-bot);
	grid-column-start: 1;
	grid-column-end: 8;
}

.order__col--right{
	position: relative;
	margin-top: var(--order-margin-top);
	margin-bottom: var(--order-margin-bot);
	grid-column-start: 8;
	grid-column-end: 13;
}

.order__heading{
	font-weight: 300;
	font-size: 56px;
	line-height: 64px;
}

.order__description{
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	margin-top: 16px;
}

.order__btn{
	margin-top: 40px;
	display: flex;
}

.order__btn .btn:not(:last-child){
	margin-right: 32px;
}

.order__col--right img{
	position: absolute;
	max-width: 644px;
	bottom: -165px;
	z-index: -1;
}
