.subscribe{
	padding-bottom: 80px;
}

.subscribe__col--left{
	grid-column-start: 1;
	grid-column-end: 3;
}

.subscribe__col--right{
	grid-column-start: 11;
	grid-column-end: 13;
}

.subscribe__col--middle{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-column-start: 3;
	grid-column-end: 11;
}

.subscribe__head{
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
}

.subscribe__form{
	margin-top: 40px;
}

.subscribe__form form{
	display: flex;
	align-items: center;
	justify-content: center;
}
